html,body{
    line-height: 1.618rem;
    background: #C95E67;
    line-height: 1.618rem;
}
#error {
    display: none;
    width: 50%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: auto;
    color: #C95E67;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    font-weight: 600;
}

form{
    display: flex;
    width: 100%;
}
#search , #submit{
    outline: none;
}
#search{
    flex: 2;
    text-align: center;
    height: 50px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
}
#submit{
    flex: 1;
    background: none;
    border: 1px solid black;
    border-right: none;
}
#submit:hover{
    background-color: rgb(245, 245, 245);
    color:black;
}