*{
margin: 0px;
font-weight: 600;
font-family: Arial, Helvetica, sans-serif;
}

.application{
    display: flex;
    width: 100%;
    flex-direction: column;
}
img{
width: 80%;
border-radius: 0.25rem;
}
.buttons{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin:10px auto;
}
.buttons button{
    padding: 10px;
    background: dodgerblue;
    color: white;
    border-radius: 0.25rem;
    border: none;
    text-transform:uppercase;
    outline: none;
}
.products-template{
    display: flex;  
    flex-direction: column;
    width: 100%;
}

#sofabeds,#kitchens,#entrance-hall{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-between;
    text-align: center;
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 20px;
    margin: auto;
    font-size: 0.85rem;
    align-items: center;
}

#sofabeds .product,#kitchens .product, #entrance-hall .product{
    width: 25%;
    margin-bottom: 10px;
}
p{
    margin:2px 0px 2px 0px;
}
#sofabeds,#kitchens,#entrance-hall{
    margin-bottom: 10px;
}

.buyButton{
    border: none;
    color:dodgerblue;
    background: none;
    width: 90%;
    height: 30px;
    border: 1px solid lightgray;
    outline: none;
}
.cart-template p {
    font-weight: 100;
}