.info{
    display: none;
}

#users-template{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
}