.container{
    background: gray;
    color: white;
    font-family: cursive;
    display: flex;
    justify-content: space-evenly;
}
form{
    display: flex;
    align-items: center;
    width: 100%;
}
form #searchInput{
    flex: 3;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-family: cursive;
    outline: none;
}
form #searchBtn{
    flex:1;
    padding: 10px 0px 10px 0px;
    font-family: cursive;
    outline: none;
}
#errorOutput{
    display: none;
    background-color: tomato;
    color: white;
    font-family: cursive;
    text-align: center;
    margin: 0px;
    padding: 10px 0px 10px 0px;
}
.container #weather{
    margin-bottom: 5px;
}