body{
    font-family: "Lato", sans-serif;
    margin: 0px;
}
.productsContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
}
img{
    width: 100%;
}
.article{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    width: 35%;
    margin:10px auto;
}

h2,h3,h4{
   text-align: center;
   margin: 0px;
   text-transform: uppercase;
}
h3{
    color: orange;
}
h4{
    color: dodgerblue;
}
h2{
    margin-top: 5px;
}
header h1{
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    background-color: gainsboro;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}
#add{
    background: orange;
    color:white;
    height: 40px;
    width: 100px;
    border: none;
    font-weight: bold;

}