html,body{
    font-family:Gotham SSm A,Helvetica,Arial,sans-serif;
    line-height: 1.618rem;
    font-size: 1.0rem;
}
.products{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.product{
    width: 20%;
    margin-bottom: 5px;
    color: inherit;
    font-weight: 500;
}
img{
    width: 100%;
    border-radius: .25rem;
}
span{
    font-weight: 700;
}
